In [1]:
import pandas as pd
import numpy as np
import sqlalchemy
pd.set_option('display.max.columns',None)
pd.options.display.max_colwidth = 100

In [2]:
# Uploading Edinburgh bikes data file.
edbikes_df = pd.read_csv('edinburgh_bikes_202205172048.csv',delimiter=';', decimal=',',index_col=0)
edbikes_df.head()

,started_at,ended_at,duration,start_station_id,start_station_name,start_station_description,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_description,end_station_latitude,end_station_longitude
index,,,,,,,,,,,,,
0,2018-09-15 08:52:05,2018-09-15 09:11:48,1182,247,Charlotte Square,North Corner of Charlotte Square,55.95233546161639,-3.207101172107286,259,St Andrew Square,North East corner,55.95472778937899,-3.192652969253117
1,2018-09-15 09:24:33,2018-09-15 09:41:09,995,259,St Andrew Square,North East corner,55.95474881217642,-3.192773668658787,262,Canonmills,near Tesco's,55.96280408759764,-3.196283585062929
2,2018-09-15 09:48:54,2018-09-15 10:46:40,3466,262,Canonmills,near Tesco's,55.96280408759764,-3.196283585062929,250,Victoria Quay,Entrance to Scottish Government Office,55.977637787726984,-3.174115590621568
3,2018-09-16 12:01:36,2018-09-16 12:25:26,1430,255,Kings Buildings 4,X-Y Cafe,55.92200087060626,-3.1769018141649212,254,Kings Building 3,Kings Building House,55.923478807846635,-3.175384584907078
4,2018-09-16 12:03:43,2018-09-16 12:11:16,452,255,Kings Buildings 4,X-Y Cafe,55.92200087060626,-3.1769018141649212,253,Kings Building 2,Sanderson Building,55.92320215516664,-3.17164624536349

In [5]:
# Data exploration: time frame. Table contains Edinburgh bikes borrowings from September 15th, 2018 until end June 2021.

edbikes_df[['started_at','ended_at']].sort_values('started_at')

                started_at             ended_at
index
0      2018-09-15 08:52:05  2018-09-15 09:11:48
1      2018-09-15 09:24:33  2018-09-15 09:41:09
2      2018-09-15 09:48:54  2018-09-15 10:46:40
3      2018-09-16 12:01:36  2018-09-16 12:25:26
4      2018-09-16 12:03:43  2018-09-16 12:11:16
...                    ...                  ...
12636  2021-06-30 23:30:31  2021-07-01 00:06:10
12637  2021-06-30 23:36:16  2021-07-01 00:05:40
12638  2021-06-30 23:49:03  2021-07-01 00:11:25
12639  2021-06-30 23:49:03  2021-07-01 00:11:52
12640  2021-06-30 23:58:33  2021-07-01 00:07:15

[438259 rows x 2 columns]

In [11]:
# Start stations. There are 198 stations at least once used for start.
start = (edbikes_df[['start_station_id','start_station_name']].drop_duplicates(subset='start_station_id')
.rename(columns={'start_station_id':'station_id','start_station_name':'station_name'})
)
print('Start stations:')
print('\n',start)

Start stations:

        station_id              station_name
index
0             247          Charlotte Square
1             259          St Andrew Square
2             262                Canonmills
3             255         Kings Buildings 4
5             253          Kings Building 2
...           ...                       ...
4659         1860     Ingliston Park & Ride
579          2259          Leith Walk North
15127        2263          Musselburgh Lidl
21035        2265  Musselburgh Brunton Hall
5853         2268              Picady Place

[198 rows x 2 columns]

In [12]:
# End stations. There are 199 stations at least once used to end the borrowing.
end = (edbikes_df[['end_station_id','end_station_name']].drop_duplicates(subset='end_station_id')
       .rename(columns={'end_station_id':'station_id','end_station_name':'station_name'})
      )
print("End stations:")
print('\n',end)

End stations:

        station_id              station_name
index
0             259          St Andrew Square
1             262                Canonmills
2             250             Victoria Quay
3             254          Kings Building 3
4             253          Kings Building 2
...           ...                       ...
12197        1859    Edinburgh Park Central
855          2259          Leith Walk North
14980        2263          Musselburgh Lidl
21035        2265  Musselburgh Brunton Hall
5806         2268              Picady Place

[199 rows x 2 columns]

In [13]:
# All stations. There are 200 stations all together at least once used to start or at least once to end.
stations = pd.concat([end,start]).drop_duplicates().sort_values('station_id')
pd.options.display.max_rows=200
print("All stations at least once used to start or once to end:")
print('\n',stations)

All stations at least once used to start or once to end:

        station_id                                               station_name
index
27            171                                              George Square
48            183                                            Waverley Bridge
14            189                                              City Chambers
135           225                                             Waverley Court
1278          241                                                      Depot
1126          242                                              Virtual Depot
10            246                                    Royal Commonwealth Pool
28            247                                           Charlotte Square
12            248                                              Bristo Square
66            249                                             Fountainbridge
2             250                                              Victoria Quay
119           251                                           Waverley Station
5             252                                          Kings Buildings 1
4             253                                           Kings Building 2
3             254                                           Kings Building 3
138           255                                          Kings Buildings 4
146           256                                           St Andrews House
16            257                                                 Portobello
13            258                                                Stockbridge
0             259                                           St Andrew Square
147           260                                            Lauriston Place
68            261                                            Brunswick Place
1             262                                                 Canonmills
7             264                                              Pollock Halls
11            265                                               Meadows East
178           266                                              Victoria Park
25            267                                           Launch Day Event
227           273                                                  Shrubhill
356           275                                               Riego Street
1206          277                                      Waitrose, Comely Bank
4304          280                                     Smarter Travel Station
1945          284                                                Leith Links
2064          285                                             Ocean Terminal
3140          289                                              Castle Street
3213          290                                                Bruntsfield
3931          296                                             Castle Terrace
3594          297                                            Royal Infirmary
9928          299                                              Depot Virtual
1729          340                                               Meadow Place
1092          341                                        Warrender Park Road
1306          342                                            Whitehouse Loan
1732          343                                           Thirlestane Road
1434          344                                         Marchmont Crescent
1954          345                                              Colinton Road
1700          346                                           Morningside Road
1061          347                                               Simon Square
1823          349                                         Orchard Brae House
1252          350                                            Dalry Road Lidl
1264          351                                           Dalry Road Co-op
1223          352                                             Dundee Terrace
1221          353                                             Gibson Terrace
1609          354                                         South Trinity Road
1614          355                                             Inverleith Row
1329          356                                         East London Street
1309          357                                             Macdonald Road
1328          358                                                 Leith Walk
1501          359                                               Causewayside
1424          365                                                    Novotel
1714          366                             Newhaven Road / Dudley Gardens
5831          648                                            Western General
5608          820                                                Newkirkgate
2941          860                                      Pollock Halls Virtual
6077          862                                          Cramond Foreshore
7405          863                                          Gamekeeper's Road
6633          864                                            Whitehouse Road
7207          865                                            Craigleith Road
6404          866                                           Comely Bank Road
6270          867                                              Henderson Row
5825          868                                              Dundas Street
6058          869                                        Hillside Crescent 1
5899          870                                        Hillside Crescent 2
8094          871                                          St. John's Road 1
6710          872                                          St. John's Road 2
6607          873                                          Corstorphine Road
7224          874                                              Edinburgh Zoo
741           875                               Corstorphine Road - Pinkhill
7709          876                                                Murrayfield
6855          877                                         Murrayfield Avenue
6415          878                                                   Balgreen
6313          879                                          Gladstone Terrace
8602          880                                           Logie Green Road
6671          881                                                  Tollcross
6603          882                                                       EICC
227           883                                           Queensferry Road
99            884                                                       IGMM
6982          885                                      Wester Coates Terrace
6604          887                                            Roseburn Street
6573          888                                            Crichton Street
7320          889                                           Murrayfield Tram
831           890                                         West Crosscauseway
840           891                                       West Newington Place
1625          901                                      Dunbar’s Close Garden
3569          964                           Corn Exchange - walk cycle event
3619          965                                Sustrans - walk cycle event
7049          980        Royal Highland Show - East Gate (19th to 23rd June)
6622          981        Royal Highland Show - West Gate (19th to 23rd June)
6611          982                Ingliston Park and Ride (19th to 23rd June)
2011          991                       Meadows - Edinburgh Climate Festival
9510         1017                                            Crichton Street
9482         1018                                              Hunter Square
10308        1019                                                Grassmarket
11964        1024                                             Meadow Place 2
12039        1025                                             Dundee Terrace
12380        1026                                        Constitution Street
664          1027                                            Drummond Street
3098         1028                                                   The Tron
4936         1030              Fountain Court  - Apartments (RESIDENTS ONLY)
7063         1031                   Eden Locke - Aparthotel (RESIDENTS ONLY)
5613         1032  Holyrood Park - Woman's Tour Of Scotland (Event 11/08/19)
6481         1033                                  Queen Margaret University
16730        1038                                         South Trinity Road
16578        1039                                               Lothian Road
1995         1040                              Sighthill - Edinburgh College
1016         1041                            Milton Road - Edinburgh College
1632         1042                          Kings Buildings - Murchison House
1538         1050                                                       EICC
1546         1051                                        Warrender Park Road
4146         1052                                              Surgeons Hall
1962         1055                                            Roseburn Street
3879         1056                                              Fort Kinnaird
4188         1057               Pleasance - Edinburgh University Sports Fair
4726         1090                                          Hillside Crescent
4626         1091                                              Holyrood Road
4848         1092                                            Dalry Road Lidl
4757         1093                                               Belford Road
10199        1094                          HSBC UK Lets Ride - Meadows Event
12099        1095                                             Dudley Gardens
12115        1096                                         West Crosscauseway
12165        1097                                          Gladstone Terrace
12228        1098                                         Marchmont Crescent
154          1102                                          Haymarket Station
1305         1720                                              Dundas Street
1194         1721                                                  Tollcross
2070         1722                                          Cramond Foreshore
1555         1723                    Heriot Watt - Edinburgh Business School
1491         1724    Heriot Watt - Student Accomodation (Anna MacLeod Halls)
2987         1725                                              Edinburgh Zoo
4091         1726                                               Simon Square
4083         1727                                               Causewayside
9581         1728                                    Portobello - Kings Road
9912         1729                                              McDonald Road
9689         1730                                         East London Street
10018        1731                                        Pleasance Courtyard
12637        1737                                             Inverleith Row
12959        1738                                      Wester Coates Terrace
6642         1739                                  Edinburgh Royal Infirmary
873          1740                                Cycling Scotland Conference
2523         1743                                           Logie Green Road
1975         1744                                           Morningside Road
2207         1745                                            Scotland Street
1984         1746                                             Crescent House
4563         1747                                          Corstorphine Road
4602         1748                                              Colinton Road
5210         1749                                                Dean Street
6911         1752                                     IGMM - Western General
7129         1753                                       Waitrose Comely Bank
7876         1754                                           Murrayfield Tram
60           1756                                   Western General Hospital
9904         1757                                                 Meggetland
9253         1758                                  Queen Margaret University
1140         1763                                           Comely Bank Road
1305         1764                                            Craigleith Road
1553         1765                                          Haymarket Terrace
3484         1766                                              Balgreen Road
2993         1767                                          Bruntsfield Links
3080         1768                                           Thirlestane Road
4906         1769                                            Brunswick Place
5049         1770                                              Ellersly Road
2022         1798                                            Chambers Street
2004         1799                                                Murrayfield
1936         1800                                                      Joppa
4346         1807                                          Gamekeeper's Road
5068         1808                                                Gorgie Road
6158         1809                                   Royal Edinburgh Hospital
6682         1813                            Milton Road - Edinburgh College
6534         1814                                                  Abbeyhill
7036         1815                              Sighthill - Edinburgh College
9335         1818                                              Dynamic Earth
215          1819                    Heriot Watt - Edinburgh Business School
1125         1820                        Heriot Watt - Student Accommodation
2223         1821                                           Drumsheugh Place
2472         1822                                     Edinburgh Park Station
2633         1823                                                Boroughmuir
2142         1824                                                Duke Street
270          1857                               City Chambers Launch Station
12197        1859                                     Edinburgh Park Central
9598         1860                                      Ingliston Park & Ride
6469         1864                                           Borrowman Square
9252         1865                                            Dalmeny Station
6130         1866                                                   The Loan
8848         1868                               Forth Bridge Visitors Centre
8530         1869                                              Hopetoun Road
9287         1870                                                 Hawes Pier
11105        1871                                            Scotstoun House
10051        1874                                            Tesco Ferrymuir
10024        1877                                          Port Edgar Marina
855          2259                                           Leith Walk North
14980        2263                                           Musselburgh Lidl
21035        2265                                   Musselburgh Brunton Hall
5806         2268                                               Picady Place

According to stations names some of them should be temporary: Launch Day Event, Royal Highland Show - East Gate (19th to 23rd June), Royal Highland Show - West Gate (19th to 23rd June), 
Ingliston Park and Ride (19th to 23rd June), Meadows - Edinburgh Climate Festival, Holyrood Park - Woman's Tour Of Scotland (Event 11/08/19), Pleasance - Edinburgh University Sports Fair,
HSBC UK Lets Ride - Meadows Event, Cycling Scotland Conference.

In [27]:
# Temporary stations time frame.
(edbikes_df.query("start_station_id in (267,980,981,982,991,1032,1057,1094,1740) or end_station_id in (267,980,981,982,991,1032,1057,1094,1740)")
 .sort_values('start_station_id')
)

,started_at,ended_at,duration,start_station_id,start_station_name,start_station_description,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_description,end_station_latitude,end_station_longitude
index,,,,,,,,,,,,,
42,2018-09-17 09:57:10,2018-09-17 10:11:39,869,189,City Chambers,City Chambers Quadrangle,55.95010933017899,-3.190257770093808,267,Launch Day Event,The Meadows,55.942551339390945,-3.191380756192416
29,2018-09-17 09:41:25,2018-09-17 10:05:46,1461,189,City Chambers,City Chambers Quadrangle,55.95010933017899,-3.190257770093808,267,Launch Day Event,The Meadows,55.942551339390945,-3.191380756192416
31,2018-09-17 09:46:36,2018-09-17 10:06:08,1171,189,City Chambers,City Chambers Quadrangle,55.95010933017899,-3.190257770093808,267,Launch Day Event,The Meadows,55.942551339390945,-3.191380756192416
32,2018-09-17 09:47:06,2018-09-17 09:58:24,677,189,City Chambers,City Chambers Quadrangle,55.95010933017899,-3.190257770093808,267,Launch Day Event,The Meadows,55.942551339390945,-3.191380756192416
34,2018-09-17 09:47:31,2018-09-17 10:07:39,1208,189,City Chambers,City Chambers Quadrangle,55.95010933017899,-3.190257770093808,267,Launch Day Event,The Meadows,55.942551339390945,-3.191380756192416
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10297,2019-09-22 10:40:45,2019-09-22 11:15:32,2086,1094,HSBC UK Lets Ride - Meadows Event,20 point virtual docking station for UK lets Ride Event,55.939977758149666,-3.189862157672223,1094,HSBC UK Lets Ride - Meadows Event,20 point virtual docking station for UK lets Ride Event,55.939977758149666,-3.189862157672223
10262,2019-09-22 10:11:54,2019-09-22 10:58:36,2801,1094,HSBC UK Lets Ride - Meadows Event,20 point virtual docking station for UK lets Ride Event,55.939977758149666,-3.189862157672223,1094,HSBC UK Lets Ride - Meadows Event,20 point virtual docking station for UK lets Ride Event,55.939977758149666,-3.189862157672223
873,2019-11-04 16:04:18,2019-11-04 16:19:15,897,1102,Haymarket Station,Haymarket Station,55.94556945067266,-3.21818468327956,1740,Cycling Scotland Conference,Murrayfield Stadium,55.940886347739024,-3.240777565829148
991,2019-11-05 08:11:11,2019-11-05 08:20:09,537,1102,Haymarket Station,Haymarket Station,55.94556945067266,-3.21818468327956,1740,Cycling Scotland Conference,Murrayfield Stadium,55.940886347739024,-3.240777565829148
887,2019-11-04 16:56:43,2019-11-04 17:09:34,770,1740,Cycling Scotland Conference,Murrayfield Stadium,55.940886347739024,-3.240777565829148,1102,Haymarket Station,Haymarket Station,55.94556945067266,-3.21818468327956

Temporary stations were used in 2018 and 2019.

In [28]:
# We need to decide how to identify Active stations.
# Active stations  will be all stations (Start stations and End stations) used last year from 30.6.2020 until the last record.

In [3]:
# Start stations used last year.
start = (edbikes_df.query("started_at >= '2020-06-30' or ended_at >= '2020-06-30'")[['start_station_id','start_station_name']]
 .drop_duplicates(subset='start_station_id').rename(columns={'start_station_id':'station_id','start_station_name':'station_name'})
)

In [5]:
# End stations used last year.
end = (edbikes_df.query("started_at >= '2020-06-30' or ended_at >= '2020-06-30'")[['end_station_id','end_station_name']]
 .drop_duplicates(subset='end_station_id').rename(columns={'end_station_id':'station_id','end_station_name':'station_name'})
)

In [9]:
# All stations used last year: Active stations.
active_stations = pd.concat([end,start]).drop_duplicates().sort_values('station_id')
active_stations.values[:,0]

array([171, 183, 189, 225, 246, 247, 248, 249, 250, 251, 252, 253, 254,
       256, 258, 259, 260, 262, 264, 265, 285, 289, 296, 299, 349, 358,
       1017, 1019, 1024, 1025, 1028, 1030, 1031, 1038, 1039, 1042, 1050,
       1051, 1052, 1055, 1090, 1091, 1092, 1093, 1096, 1097, 1098, 1102,
       1720, 1721, 1722, 1725, 1726, 1727, 1728, 1729, 1730, 1731, 1737,
       1738, 1739, 1743, 1744, 1745, 1747, 1748, 1749, 1752, 1753, 1754,
       1756, 1757, 1758, 1763, 1764, 1765, 1766, 1767, 1768, 1769, 1770,
       1798, 1799, 1800, 1807, 1808, 1809, 1813, 1814, 1815, 1818, 1819,
       1820, 1821, 1822, 1823, 1824, 1859, 1860, 1864, 1865, 1866, 1868,
       1869, 1870, 1871, 1874, 1877, 2259, 2263, 2265, 2268], dtype=object)

In [21]:
# Inactive stations: all stations not used since June 30, 2020.
inactive_stations = pd.concat([stations['station_id'],active_stations['station_id'],active_stations['station_id']]).drop_duplicates(keep=False)
inactive_stations.values

array([ 241,  242,  255,  257,  261,  266,  267,  273,  275,  277,  280,
        284,  290,  297,  340,  341,  342,  343,  344,  345,  346,  347,
        350,  351,  352,  353,  354,  355,  356,  357,  359,  365,  366,
        648,  820,  860,  862,  863,  864,  865,  866,  867,  868,  869,
        870,  871,  872,  873,  874,  875,  876,  877,  878,  879,  880,
        881,  882,  883,  884,  885,  887,  888,  889,  890,  891,  901,
        964,  965,  980,  981,  982,  991, 1018, 1026, 1027, 1032, 1033,
       1040, 1041, 1056, 1057, 1094, 1095, 1723, 1724, 1740, 1746, 1857],
      dtype=int64)

In [3]:
# The most frequented stations will be stations with the highest sum of starts and ends.